{% block body %}
    <div class="container">
        {% include "navbar.html.twig" %}
        <div class="content">
            <div class="blogpostpreview">

                {# foreach for data loop #}
                <div class="blogpostpreview-content">
                    <div class="blogpostpreview-title">
                        {# insert database data #}
                    </div>
                    <div class="blogpostpreview-text">
                        {# insert database data #}
                    </div>
                    <div class="blogpostpreview-more">
                        <a href="# ">Lees meer..</a>
                    </div>
                </div>
                <div class="blogpostpreview-image">
                    <!-- <img src="https://static.apparata.nl/images/2018/fifa-ea-games.jpg" alt=""> -->
                    {# insert database data #}
                </div>
                {# endforeach #}
                
            </div>
        </div>
    </div>
{% endblock %}

