.blogpostpreview{
    background: #D8D6D6;
    padding: 10px;
    display: flex;
  }
  .blogpostpreview-title{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 15px;
  }
  .blogpostpreview-text{
    font-size: 16px;
    margin-bottom: 10px;
  }
  .blogpostpreview-more a{
    padding-top: 5px;
    padding-bottom: 5px;
    color: blue;
  }
  .blogpostpreview-more a:hover{
    color: red;
  }
  .blogpostpreview-content{
    width: 60%;
    max-height: 15rem;
  }
  .blogpostpreview-image{
    width: 40%;
    max-height: 15rem;
  }
  .blogpostpreview-image img{
    height: 100%;
    float: right;
  }