.nav-container{
    background: #E5E5E5;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 10px 10px 4px 0px #000000 25%;

    .nav-title {
      padding-right: 10px;
      padding-top: -30px;
      padding-bottom: 18px;
      .nav-logout {
        text-align: right;
        font-size: 15px;
      }
    }
    h1{
      color: #0372A1;
      font-weight: 400;
      font-size: 36px;
    }
}

.nav-content{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.nav-left {
  display: flex;
  margin-right: 10px;
}
.nav-right {
  margin-right: 10px;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 10px;
  
  .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
  }
}
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 165px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black; 
    padding: 12px 16px;
    width: 100%;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {
    background-color: #ddd;
    margin-left: 0px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }