html {
    font-size: 62.5%;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }

  body {
    background-color: #003D45;
  }
  .container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    border-radius: 10px;
    width: 80%;
  }
  .content{
    background: #DFDFDF;
    padding: 25px;
  }
  .card{
    background: white;
    width: 30%;
  }


  @import 'navbar';
  @import 'blogpostpreview';