html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #003D45;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  border-radius: 10px;
  width: 80%;
}

.content {
  background: #DFDFDF;
  padding: 25px;
}

.card {
  background: white;
  width: 30%;
}

.nav-container {
  background: #E5E5E5;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-shadow: 10px 10px 4px 0px #000000 25%;
          box-shadow: 10px 10px 4px 0px #000000 25%;
}

.nav-container .nav-title {
  padding-right: 10px;
  padding-top: -30px;
  padding-bottom: 18px;
}

.nav-container .nav-title .nav-logout {
  text-align: right;
  font-size: 15px;
}

.nav-container h1 {
  color: #0372A1;
  font-weight: 400;
  font-size: 36px;
}

.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

.nav-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.nav-right {
  margin-right: 10px;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin-right: 10px;
  margin-left: 10px;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 165px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  width: 100%;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  margin-left: 0px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.blogpostpreview {
  background: #D8D6D6;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogpostpreview-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}

.blogpostpreview-text {
  font-size: 16px;
  margin-bottom: 10px;
}

.blogpostpreview-more a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: blue;
}

.blogpostpreview-more a:hover {
  color: red;
}

.blogpostpreview-content {
  width: 60%;
  max-height: 15rem;
}

.blogpostpreview-image {
  width: 40%;
  max-height: 15rem;
}

.blogpostpreview-image img {
  height: 100%;
  float: right;
}
/*# sourceMappingURL=app.css.map */