<head>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"> 
</head>

<div class="nav-container">
    <div class="nav-title">
        <h1>Senjux gaming</h1>

       
    </div>
    <nav>
        <div class="nav-content">
            <div class="nav-left">
                <a href="/">Homepage</a>
                <div class="dropdown">
                    <button class="dropbtn">
                        Playstation
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/playstation/hardware">Hardware</a>
                        <a href="/playstation/games">Games</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        Xbox
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/playstation/hardware">Hardware</a>
                        <a href="/playstation/games">Games</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        Nintendo
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/playstation/hardware">Hardware</a>
                        <a href="/playstation/games">Games</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">
                        PC
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/playstation/hardware">Hardware</a>
                        <a href="/playstation/games">Games</a>
                    </div>
                </div>
            </div>
            <div class="nav-right">
                {% if app.user %}
                    <div class="nav-logout">
                        You are logged in as {{ app.user.username }},
                        <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% else %}
                    <a href="/login">Login</a>
                    <a href="/register">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>
</div>