{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
    {% include "navbar.html.twig" %}
    <div class="content">
        <h1>Add a post</h1>

        {{ form_start(postForm) }}

            {{ form_label(postForm.postTitle)}}
            <br>
            {{ form_widget(postForm.postTitle)}}
            <br>
            {{ form_label(postForm.postContentSummary)}}
            <br>
            {{ form_widget(postForm.postContentSummary)}}
            <br>
            {{ form_label(postForm.postContentFull)}}
            <br>
            {{ form_widget(postForm.postContentFull)}}
            <br>
            {{ form_label(postForm.image)}}
            <br>
            {{ form_widget(postForm.image)}}
            <br>
            {#{ form_label(postForm.postTypeId)}#}
            <br>
            {#{ form_widget(postForm.postTypeId)}#}
            <br>
            <button type="submit" class="btn">submit post</button>
        {{ form_end(postForm) }}
    </div>
</div>
{% endblock %}
